@page "/job"
@using Mechanic.Shared
@using Mechanic.UI.Services;
@inject IJobService JobService


<h3>Job List</h3>

<div class=" mb-3">
	<a href="/job/add" class="btn btn-primary">Add Job</a>
</div>

@if (_job is not null)
{
	<table class=" table table-hover border">
		<thead>
			<tr>
				<th>License Plate</th>
				<th>Manufacturing Year</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var job in _job)
			{
				<tr>
					<td>@job.licensePlate</td>
					<td>@job.manufacturingYear</td>
					<td>
						<a href="/job/@job.jobId">
							Details
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

else
{
	<p>Loading...</p>
}



@code {
	private List<Job> _job;

	protected override async Task OnInitializedAsync()
	{
		_job = await JobService.GetJobsAsync();
	}
}
